.input__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__label {
  font-size: 1.05rem;
}

.form__input {
  width: 100%;
  padding: 1rem;
  margin: 0.5em 0;
  outline: none;
  border: 1px solid var(--typographic-text-color-light);
  font-size: 1rem;
  font-weight: 400;
  color: #98a9bc;
  transition: all 0.2s ease-in-out;
}
.form__input:invalid {
  border-color: #d71e0e;
}

.form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

