.form__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10rem;
}

@media (max-width: 768px) {
  .form__buttons {
    margin-top: 5rem;
  }
}

.form__buttons button {
  margin: 0;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  text-align: left;
  text-transform: uppercase;
  width: max-content;
}

.form__buttons button:last-child {
  text-align: right;
}

.form__buttons button:hover {
  border: 1px solid var(--typographic-text-color-light);
}

