.error__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 3rem;
}

.error__page button {
  width: max-content;
}

@media (max-width: 768px) {
  .error__page {
    flex-direction: column;
  }
}

.error__page h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: 700;
}
.error__page h2 {
  font-weight: 500;
  font-size: 4em;
}

.error__page p {
  font-size: 16px;
  margin: 10px 0;
}

.error__page button {
  border-radius: 30px;
  padding: 15px 30px;
}

.error__page button:hover,
.error__page button:active {
  background-color: var(--bg-success);
  color: #fff;
}

